<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="1" name="Test">
    <classes>
      <class name="TestCases.profile_orders"/>
      <class name="TestCases.forgetpassword_flow"/>
      <class name="TestCases.profile_address"/>
      <class name="TestCases.profile_changepassword"/>
      <class name="TestCases.loginpage"/>
      <class name="TestCases.edit_profile"/>
      <class name="TestCases.paymentsinprofile"/>
      <class name="TestCases.profile_wishlist"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
